header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 1.25rem;
}
header nav ul li a {
    text-decoration: none;
}